{% load dashboard-tags %}
<div class="mb-2 d-flex justify-content-between align-items-center">
    <h5 class="my-0">
        {% if chart_type == 'sales' %}
        Продажи
        {% elif chart_type == 'revenue' %}
        Выручка
        {% endif %}
    </h5>

    <div>
        <a class="pt-1 dropdown-toggle text-dark link-hover-invert" role="button" data-bs-toggle="dropdown"
            data-bs-auto-close="outside" aria-expanded="false">
            Мес:
            {% if selected_month is None %}
            Все
            {% else %}
            {{ selected_month|get_month_name_by_number }}
            {% endif %}
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-center nested-dropdown">
            {% for month, orders in orders_by_year.items %}
            <li><a class="dropdown-item pointer {% if selected_month == month %}active{% endif %}" data-period="month"
                    data-chart="{{ chart_type }}" onclick="updateChartDataBtnClick(this);" data-value="{{ month }}">
                    {{ month|get_month_name_by_number }}</a></li>
            {% endfor %}
        </ul>

        <a class="pt-1 dropdown-toggle text-dark link-hover-invert" role="button" data-bs-toggle="dropdown"
            data-bs-auto-close="outside" aria-expanded="false">
            Год:
            {% if selected_year is None %}
            Все
            {% else %}
            {{ selected_year }}
            {% endif %}
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-center nested-dropdown">
            {% for year, orders in orders_by_all_years.items reversed %}
            <li><a class="dropdown-item pointer {% if selected_year == year %}active{% endif %}" data-period="year"
                    data-chart="{{ chart_type }}" onclick="updateChartDataBtnClick(this);" data-value="{{ year }}">
                    {{ year }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>
<canvas id="{{ chart_type }}"></canvas>