{% extends 'sales_dashboard/base.html' %}
{% load static %}
{% load dashboard-tags %}

{% block title %}
Панель управления
{% endblock %}

{% block active-dashboard %}active{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="my-4">
    <div class="row g-4 mb-4">
        <div class="col-md-4 col-12">
            <a href="" class="text-decoration-none text-dark">
                <div class="card shadow-sm p-4 text-center">
                    <h5>Ожидают</h5>
                    <h3>{{ orders|get_orders_by_status:'1'|length }}</h3>
                    <span class="text-black-50">за месяц</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-12">
            <a href="" class="text-decoration-none text-dark">
                <div class="card shadow-sm p-4 text-center">
                    <h5>Отправлено</h5>
                    <h3>{{ orders|get_orders_by_status:'2'|length }}</h3>
                    <span class="text-black-50">за месяц</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-12">
            <a href="" class="text-decoration-none text-dark">
                <div class="card shadow-sm p-4 text-center">
                    <h5>Выполнено</h5>
                    <h3>{{ orders|get_orders_by_status:'3'|length }}</h3>
                    <span class="text-black-50">за месяц</span>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xxl-9 col-12 mb-4">
            <div class="row g-4">
                <div class="col-lg-6 col-12">
                    <div id="chartSales">
                        {% include 'sales_dashboard/chart.html' with chart_type='sales' %}
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div id="chartRevenue">
                        {% include 'sales_dashboard/chart.html' with chart_type='revenue' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xxl-3 col-12">
            <div class="card shadow-sm p-4">
                <h5 class="text-xxl-start text-center">Разница за период</h5>
                <div class="my-3 row justify-content-xxl-start justify-content-center">
                    <div class="col-xxl-12 col-6 text-xxl-start text-center">
                        <h6>Продажи</h6>
                        <h3>
                            <i class="bi bi-caret-down-fill fs-5 danger"
                                style="position: relative; bottom: 0.25rem;"></i>
                            <span>3</span>
                        </h3>
                    </div>
                    <div class="col-xxl-12 col-6 text-xxl-start text-center">
                        <h6>Выручка</h6>
                        <h3>
                            <i class="bi bi-caret-up-fill fs-5 success"
                                style="position: relative; bottom: 0.25rem;"></i>
                            <span>4 260 266</span>
                            <span class="ms-1 not-select">₽</span>
                        </h3>
                    </div>
                </div>
                <span class="text-black-50 text-xxl-start text-center">Период: месяц</span>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/sales_dashboard/dashboard.js' %}"></script>
{% endblock %}