{% for order in orders %}
<tr>
    <td><a href="{% url 'order' order.pk %}" class="text-dark fw-semibold table-link">{{ order.transaction_id }}</a></td>
    <td>{{ order.customer }}</td>
    <td>{{ order.date_ordered|date:"m/d/Y G:i:s" }}</td>
    <td>
        {% if order.status == '1' %}
        <span class="text-danger">&bull;</span>
        {% elif order.status == '2' %}
        <span class="text-warning">&bull;</span>
        {% elif order.status == '3' %}
        <span class="text-success">&bull;</span>
        {% endif %}
        {{ order.get_status_display }}
    </td>
</tr>
{% endfor %}