{% extends 'sales_dashboard/base.html' %}
{% load static %}

{% block title %}
Заказы
{% endblock %}

{% block active-orders %}active{% endblock %}

{% block content %}
<div class="my-4">

    <div class="card shadow-sm mb-4 p-4">
        <div>
            <form id="filterForm" method="get">
                <div class="row g-3">
                    <div class="col-6">
                        <div class="form-text my-0">ID заказа</div>
                        <input type="text" class="form-control" name="transaction_id" placeholder="...">
                    </div>
                    <div class="col-6">
                        <div class="form-text my-0">Email</div>
                        <input type="text" class="form-control" name="email" placeholder="...">
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="form-text my-0">Минимальная дата</div>
                        <input type="date" class="form-control" name="date_ordered_min">
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="form-text my-0">Максимальная дата</div>
                        <input type="date" class="form-control" name="date_ordered_max">
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-text my-0">Статус</div>
                        <select class="form-control form-select" name="status" aria-label="Default select example">
                            <option selected value>...</option>
                            <option value="1">Ожидает отправки</option>
                            <option value="2">Отправлен</option>
                            <option value="3">Выполнен</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-hover shadow-sm border">
        <thead>
            <tr>
                <form id="sortForm" method="get">
                    <th scope="col">
                        <input type="checkbox" id="sort_transaction_id" name="sort_transaction_id" class="sort-checkbox"
                            style="display: none;" data-checkbox="0">
                        <label for="sort_transaction_id" class="not-select pointer link-hover">ID заказа
                            <i class="bi bi-caret-down-fill hide checkDown"></i>
                            <i class="bi bi-caret-up-fill hide checkUp"></i>
                        </label>
                    </th>
                    <th scope="col">
                        <input type="checkbox" id="sort_email" class="sort-checkbox" style="display: none;"
                            data-checkbox="0">
                        <label for="sort_email" class="not-select pointer link-hover">Email
                            <i class="bi bi-caret-down-fill hide checkDown"></i>
                            <i class="bi bi-caret-up-fill hide checkUp"></i>
                        </label>
                    </th>
                    <th scope="col">
                        <input type="checkbox" id="sort_date_ordered" class="sort-checkbox" style="display: none;"
                            data-checkbox="0">
                        <label for="sort_date_ordered" class="not-select pointer link-hover">Дата
                            <i class="bi bi-caret-down-fill hide checkDown"></i>
                            <i class="bi bi-caret-up-fill hide checkUp"></i>
                        </label>
                    </th>
                    <th scope="col">
                        <input type="checkbox" id="sort_status" class="sort-checkbox" style="display: none;"
                            data-checkbox="0">
                        <label for="sort_status" class="not-select pointer link-hover">Статус
                            <i class="bi bi-caret-down-fill hide checkDown"></i>
                            <i class="bi bi-caret-up-fill hide checkUp"></i>
                        </label>
                    </th>
                </form>
            </tr>
        </thead>
        <tbody id="orders">
            {% include 'sales_dashboard/orders-list.html' %}
        </tbody>
    </table>

    <section style="height: 200px;"></section>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in orders.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

<div class="hide" id="page">{{ orders.number }}</div>
<script src="{% static 'js/sales_dashboard/orders.js' %}"></script>
{% endblock %}